:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #5ea2f7;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(./assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    border-color: var(--cinza-secundario);
}

.container__aviso {
    text-align: center;
    color: var(--cinza-secundario);
    font-size: 12px;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundaria__imagem {
    width: 80%;
}

.secundaria {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-family: var(--fonte-principal);
    font-size: 48px;
    font-weight: 700;
    color:  var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-family: var(--fonte-principal);
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.rodape__texto {
    font-family: var(--fonte-principal);
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 1em 0;
}

.lista__link a{
    font-family: var(--fonte-principal);
    font-size: 16px;
    margin-left: 1em;
    text-decoration: none;
    color: var(--branco-principal);
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: var(--cinza-secundario);
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-fundo);
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 100%; /* Altera para uma coluna */
    }

    .container__imagem {
        text-align: center;
        justify-content: center;
    }

    .container__caixa {
        margin: 0; /* Remove a margem para melhor ajuste */
    }

    .secundaria {
        margin: 0; /* Remove a margem para melhor ajuste */
        display: flex;
        flex-direction: column-reverse;
    }

    .descricao__titulo {
        font-size: 36px; /* Reduz o tamanho do título */
    }

    .descricao__texto {
        font-size: 14px; /* Reduz o tamanho do texto */
        margin-bottom: 1.5em;
    }

    .container__botao,
    .secundario__botao {
        width: 80%; /* Define a largura dos botões */
        margin: 0 auto; /* Centraliza os botões */
    }

    .dispositivos__lista {
        flex-direction: column; /* Altera a direção da lista para uma coluna */
        margin: 2em auto; /* Centraliza a lista */
    }

    .lista__item {
        font-size: 24px; /* Reduz o tamanho dos itens da lista */
    }

    .rodape {
        margin: 2em 1em; /* Ajusta a margem do rodapé */
    }
}